.Decks {
    align-items: center;
    margin: auto;
    align-items: baseline;
    border: red 1px ridge;
    display: inline-block;
    align-items: center;
    width: min-content;
    margin: auto;
    /* flex-basis: 80%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;

}


.Cards{
    flex-wrap: wrap;
    height: 100%;
    /* width: 130px; */
    height: min-content;    
    align-items: flex-start;
    margin: 3px auto;
    display: flex;
    flex-basis: 80%;
    box-sizing: border-box;
}


.Deck p {
    flex-basis: 10%;
    color: blue;
}


.alignCards {
    display: flex;
    margin: auto;
    width: min-content;
}

span{
    margin: auto;
}
