.Dealer {
    margin: 0 auto;
    align-items: center;
    display: flex;
    border: 1px ridge purple;
    margin: 0 auto;
    flex-basis: 32%;
    width: 100%;
    border: 2px brown ridge;
    align-items: center;
    
    /* margin-left: 50px; */
}


.Deck{
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}