.Chips{
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(85, 35, 11);
}

p{
    align-self: center;
    text-align: center;
    margin: auto;
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    font-stretch: extra-expanded;

}

.Chips p::after {
    content: ' $';
    font-weight: lighter;
    font-family: fantasy;
    font-size: 16px;
    font-stretch: extra-expanded;
}